<header>
    <img src="assets/img/img1.jpg" alt="Racine - Foto de Perfil" width="190px" height="190px" loading="eager" />
    <h1><span class="animated-name">Racine Fellipe</span></h1>
</header>

<aside>
    <div class="containe">
        
                <div class="box-info">
                    <p>RJ, Rio de Janeiro, Brasil</p>
                    
                    <p>{{longText}}</p>
                    <nav>
                        <ul>
                            <li>
                                <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                                    <img src="assets/icons/botoes/dowload-icon.svg" alt="Download Icon" class="icon"> Download Cv
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/racinefellipe/" target="_blank" class="btn btn-secondary">
                                    <img src="assets/icons/botoes/linkedin-icon.svg" alt="LinkedIn Icon" class="icon"> LinkedIn
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/racinefe" target="_blank" class="btn btn-tertiary">
                                    <img src="assets/icons/botoes/github-icon.svg" alt="GitHub Icon" class="icon"> GitHub
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
           
       

        <section>
            <figure>
                <img src="assets/icons/whathsapp.svg" alt="Ícone para o WhatsApp" width="22px" height="24px" />
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5521973500716&text=ol%c3%A1%20Racine, %20Eu%20Sou%20"
                        target="_blank">
                        <strong>Envie uma mensagem para:</strong>
                        <p>WhatsApp: (21) 9 7350-0716</p>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img src="assets/icons/email.svg" alt="Ícone para o e-mail" width="22px" height="24px" />
                <figcaption>
                    <a href="mailto:racine.fell@gmail.com" target="_blank">
                        <strong>Envie uma e-mail para:</strong>
                        <p>racine.fell&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>