<header class="modern-header">
  <div class="profile-section">
    <img src="https://avatars.githubusercontent.com/u/102471647?v=4"
         alt="Racine - Foto de Perfil"
         class="profile-image"
         loading="eager" />
  </div>

  <div class="info-section">
    <div class="text-content">
      <h1 class="animated-name"></h1>
      <p class="location">📍 Rio de Janeiro, Brasil <img src="assets/icons/mug-hot-solid.svg" alt="Cafézin Icon" class="icon2"></p>
      <p class="bio">{{longText}}</p>
    </div>

    <div class="buttons-section">
      <nav>
        <ul class="button-grid">
          <li>
            <a href="assets/pdf/cv.pdf" target="_blank" class="modern-button">
              <img src="assets/icons/botoes/down-solid.svg" alt="Download Icon" class="icon">
              <span>Currículo</span>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/racinefellipe/" target="_blank" class="modern-button">
              <img src="assets/icons/botoes/linkedin-brands.svg" alt="LinkedIn Icon" class="icon">
              <span>LinkedIn</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/racinefe" target="_blank" class="modern-button">
              <img src="assets/icons/botoes/github-brands.svg" alt="GitHub Icon" class="icon">
              <span>GitHub</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="contact-section">
    <div class="contact-card">
      <img src="assets/icons/whathsapp.svg" alt="WhatsApp" class="contact-icon">
      <div class="contact-info">
        <strong>WhatsApp</strong>
        <p>(21) 9 7350-0716</p>
        <a href="https://api.whatsapp.com/send?phone=5521973500716&text=ol%c3%A1%20Racine, %20Eu%20Sou%20"
           target="_blank"
           class="contact-link">Enviar mensagem</a>
      </div>
    </div>

    <div class="contact-card">
      <img src="assets/icons/email.svg" alt="E-mail" class="contact-icon">
      <div class="contact-info">
        <strong>E-mail</strong>
        <p>racine.fell&#64;gmail.com</p>
        <a href="mailto:racine.fell@gmail.com"
           target="_blank"
           class="contact-link">Enviar e-mail</a>
      </div>
    </div>
  </div>
</header>
