/* Estilos básicos */
.glass-effect {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; /* Permite quebra em telas menores */
  text-align: center;
}

header img {
  border-radius: 0 20%;
  border: 5px solid rgb(206, 204, 204);
  margin: 15px;
  transition: transform 0.7s;

}

header img:hover {
  transform: scale(1.09);
  background-color: rgb(134, 133, 133);
}

header h1 {
  font-size: 2em;
  flex: 1; /* Ajusta o tamanho para ocupar espaço proporcional */
}

header .animated-name {
  display: inline-block;
  width: 33rem;
  white-space: wrap;
  overflow: hidden;

  font-size: 35px;
  font-family: monospace;
  animation: typing 4s steps(10) 1s forwards, blink-caret 0.75s step-end infinite;
}

aside .containe {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens */
}

aside .box-info {
  margin: 0 auto;
  padding: 32px 16px;
  text-align: center;
}

aside .box-info nav ul {
  display: flex;
  flex-direction: row;
  //flex-wrap: wrap; /* Permite quebra de linha */
  justify-content: space-around;
  padding: 0;
  a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(134, 133, 133);
  }
}

aside .box-info nav ul li {
  margin: 8px; /* Espaçamento entre itens */
  display: flex;
  justify-content: space-between;
  img{
    max-width: 25px;

  }
}

aside section {
  display: flex;
  align-items: center; /* Centraliza os itens */

  a{
    text-decoration: none;
    font-size: 15px;
    color: rgb(134, 133, 133);
  }
}

aside section figure {

  align-items: center;
  margin: 25px;
}
aside .box-info  li{
  transition: transform 0.7s;

}
aside .box-info  li:hover {
  transform: scale(1.09);
}

/* Responsividade */
@media (max-width: 768px) {
  header {
    flex-direction: column; /* Muda para empilhar elementos */
  }

  header img {
    width: 150px;
    height: 150px;
  }

  aside .box-info {
    padding: 16px;
  }

  aside .box-info nav  {
    flex-direction: column; /* Itens em coluna para dispositivos menores */
    align-items: center;
  }

  aside .box-info nav ul li {

    margin: 5px 0;
  }

  aside section {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  aside section figure {
    width: 100%;
  }

  aside .box-info  ul{
    align-items: center;


  }

  header .animated-name {
    width: 55vh;
    font-size: 25px;
}

}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.5em; /* Reduz o tamanho do título */
  }

  aside .box-info {
    font-size: 0.9em; /* Ajusta tamanho da fonte */

  }

  aside .box-info nav ul li a {
    font-size: 0.8em; /* Ajusta tamanho da fonte dos links */
}


  aside section figure {
    margin: 5px 0; /* Reduz margens */
  }
}
