:host {
  
    &::before {
      content: '';
      display: flex;
      width: 100%;
      height: 150px;
      margin-bottom: -65px;
      background: var(--primary);
    }
    header,
    aside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px;
      
    }
    header {
      img {
        border-radius: 100%;
        border: 5px solid var(--white);
        margin-bottom: 15px;
      }
      h1 {
        font-size: 2em;
        display: flex;
        align-items: center;
        .animated-name {
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          border-right: 2px solid white; // Alterado para branco
          animation: typing 4s steps(10) 1s forwards, blink-caret 0.75s step-end infinite;
        }
      }
    }
    aside {
      p {
        text-align: center;
      }
      nav ul,
      section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
      }
      nav {
        margin: 20px 0;
        ul {
          li {
            a {
              width: 250px;
            }
          }
        }
      }
      section {
        figure {
          width: 355px;
          height: 77px;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          border: 1px solid var(--white);
          border-radius: 7px;
          figcaption {
            a {
              display: flex;
              justify-content: center;
              align-items: flex-start;
              flex-direction: column;
              p {
                margin: 3px 0;
              }
              strong {
                color: var(--primary);
              }
            }
          }
        }
      }
    }
  
    @media (max-width: 750px) {
      aside nav ul,
      section {
        flex-direction: column;
        gap: 15px;
      }
      aside nav ul,
      aside nav ul li a,
      section figure {
        width: 100;
      }
      mat-card{
        width: 100%!important;
      }
     
      
    }
    .containe{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .containe-card-apresentacao{
      margin-bottom: 25px;
      width: 50%;
    }
    .glass-effect {
      background-color: var(--glass-bg-color);
      border: var(--glass-border-width) solid var(--glass-border-color);
      border-radius: 10px; 
      backdrop-filter: blur(var(--glass-blur));
      -webkit-backdrop-filter: blur(var(--glass-blur)); /* Compatibilidade com Safari */
      padding: 20px;
      box-shadow: 0 4px 6px rgba(255, 255, 255, 0.158);
    }
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(173, 170, 170); } // Alterado para branco
  }
  