.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;

    .icon {
        width: 20px; /* Ajuste o tamanho conforme necessário */
        height: 20px; /* Ajuste o tamanho conforme necessário */
        margin-right: 8px; /* Espaço entre o ícone e o texto */
        vertical-align: middle; /* Alinhar o ícone verticalmente com o texto */
      }

    &.btn-primary,
    &.btn-secondary,
    &.btn-tertiary {
        padding: 10px;
        font-size: 16px;
        border-radius: 7px;
        width: 160px;
        height: 30px;
    }

    &.btn-primary {
        color: var(--black-10);
        background: var(--primary);

        &:hover {
            background: var(--primary-10);
            color: var(--white);
        }
    }

    &.btn-secondary {
        color: var(--white);
        background: var(--secondary);

        &:hover {
            background: var(--secondary-10);
        }
    }

    &.btn-tertiary {
        color: var(--white);
        background: var(--black-09);

        &:hover {
            background: var(--black-10);
        }
    }
    
}