<main>
    <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3 fixed-top">
        <a class="navbar-brand" style="color:  var( --white);" href="#">Portfolio</a>
        <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading1">Apresentação</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading2">Conhecimentos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading3">Experiências</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading4">Projetos</a>
        </li>
        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu">
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#scrollspyHeading5">Fifth</a></li>
            </ul>
        </li> -->
        </ul>
    </nav>
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2 " tabindex="0">
        <h4 id="scrollspyHeading1"></h4>
        <app-header />
        <h4 id="scrollspyHeading2"></h4>
        <app-knowledge />
        <h4 id="scrollspyHeading3"></h4>
        <app-experiences />
        <h4 id="scrollspyHeading4"></h4>
        <app-projects/>
        <!-- <h4 id="scrollspyHeading5">Fifth heading</h4>
        <p>...</p> -->
    </div>
</main>  