<div class="wrapper">
  <nav class="vertical-navbar">
    <a class="navbar-brand" href="#">
      <span class="brand-name">Racine</span>
      <span class="brand-sub">Dev</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="toggler-icon"></span>
      <span class="toggler-icon"></span>
      <span class="toggler-icon"></span>
    </button>

    <div class="navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#scrollspyHeading1">
            <span class="nav-icon">🖖🏼</span>
            <span class="nav-text">Apresentação</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#scrollspyHeading2">
            <span class="nav-icon">💻</span>
            <span class="nav-text">Conhecimentos</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#scrollspyHeading3">
            <span class="nav-icon">📈</span>
            <span class="nav-text">Experiências</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#scrollspyHeading4">
            <span class="nav-icon">🚀</span>
            <span class="nav-text">Projetos</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <main class="content-with-nav">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
      data-bs-smooth-scroll="true" class="scrollspy-content" tabindex="0">
      <h4 id="scrollspyHeading1"></h4>
      <app-header />
      <h4 id="scrollspyHeading2"></h4>
      <app-knowledge />
      <h4 id="scrollspyHeading3"></h4>
      <app-experiences />
      <h4 id="scrollspyHeading4"></h4>
      <app-projects />
    </div>
  </main>

  <footer class="modern-footer">
    Desenvolvido por <strong>Racine Fellipe</strong> © 2023
  </footer>
</div>
