.container{
    width: 700px;
    position: relative;
    box-sizing: border-box;
    
}
@media (max-width: 750px) {
    .container{
        width: 100%;
        padding: 0 20%;
    }
}
.img-custom-size {
    width: 150px;  /* Defina a largura desejada */
    height: auto; /* A altura será ajustada automaticamente para manter a proporção da imagem */
    border-radius: 15px; /* Adiciona bordas arredondadas */
}