:host {
    margin-top: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    h2 {
        text-align: center;
        margin: 0 0 25px 0;
    }

    details {
        overflow: hidden;
        margin-top: 10px;
        background: var(--black-10);
        border-radius: 7px;
        

        summary,
        article {
            padding: 10px 20px;
            transition: 500ms; 
        }

        summary {
            cursor: pointer;

            display: flex;
            justify-content: space-between;
            align-items: center;

            background: var(--primary);

            p {
                font-size: 14px;
                color: var(--black-10);

                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;

                
            }
            &::after {
                content: "";
                display: inline-block;
                width: 1em;  /* Ajuste conforme necessário */
                height: 1em; /* Ajuste conforme necessário */
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &[open]{
            summary {
                &::after {
                    background-image: url("../../../../../assets/icons/chevron-up.svg");
                    margin-top: 5px;
                }

                
                border-radius: 7px 7px 0 0;
            }
        }
        &:not([open]){
            summary {
                &::after {
                    background-image: url("../../../../../assets/icons/chevron-down.svg");
                    margin-top: 5px;
                }

                
            }
        }
    }


}