:host {
    margin-top: 25px;
    padding: 100px 0;
    background: var(--black-10);
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    h2 {
      text-align: center;
      margin: 0;
    }
  
    .knowledge-list {
      margin-top: 0;
  
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;
      
      
    }
    
  }
  