<div class="container-knoledge">
    <h2>Conhecimentos</h2>
    <ul>
        @for (item of arrayKnowledge(); track item) {
            <li class="knoledge">
                <img 
                    [src]="item.src"
                    [alt]="item.alt"
                    loading="lazy"
                    width="32px"
                    height="40px"
                />
                <mat-progress-bar mode="buffer" [value]="item.progress"></mat-progress-bar>
            </li>
            
        }
        
    </ul>
</div>