<header>
    <h2 mat-dialog-title>{{ getData()?.title }}</h2>
    <button (click)="closeModal()">
        <img 
            src="assets/dialog/close.svg" alt="botão para fechar o dialog" 
            width="30px" 
            height="30px" 
            style=  "
                     background-color: rgb(184, 175, 175);
                     border-radius: 15px; 
                     padding: 5px;
                    "
        >
    </button>
</header>
<mat-dialog-content>
    <h3>Descrição</h3>
    <article [innerHTML]="getData()?.description"></article>
    <nav>
        @for (item of getData()?.links; track item) {
            <a [href]="item.href" target="_blank" class="btn btn-primary">
                {{item.name}}
            </a>
        }
    </nav>
</mat-dialog-content>