::ng-deep .dialog-container-projects .mdc-dialog__container{
    width: 850px;
    transition: 0.5s;
    
    &:hover {
        transform: scale(1.2);
        transition: 0.5s;
        
    }
    
}

:host{
    padding: 10px;
    display: flex;
    flex-direction: column;
    header, h3, p, a, mat-dialog-content{
        padding: 0;
        margin: 0 0 15px;
        
    }
    

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        h2{
            font-size: 22px;
            padding: 0;
            margin: 0;
            color: var(--black-10);
        }

        button{
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
        }
    }

    h3{
        font-size: 18px;
        color: var(--black-10);
    }

    article{
        margin-bottom: 15px;

        p{
            font-size: 16px;
        }
        
       
    }
    

    nav{
        display: flex;
    }

   
}