
 
    details {
        overflow: hidden;
        margin-top: 10px;
        background: var(--black-10);
        color: white;
        
        border-radius: 7px;
        overflow-x: auto;

                

        summary,
        article {
            padding: 10px 20px;
            transition: 500ms; 
            
        }

        summary {
            cursor: pointer;

            display: flex;
            justify-content: space-between;
            align-items: center;

            background: var(--primary);

            img{
                width: 100rem;
                height: 50px;
            }

            p {
                font-size: 14px;
                color: var(--black-10);
                overflow-x: auto;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;

            }
            &::after {
                content: "";
                display: inline-block;
                width: 1em;  /* Ajuste conforme necessário */
                height: 1em; /* Ajuste conforme necessário */
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        &[open]{
            summary {
                &::after {
                    background-image: url("../../assets/icons/chevron-up.svg");
                    margin-top: 5px;
                }

                
                border-radius: 7px 7px 0 0;
            }
        }
        &:not([open]){
            summary {
                &::after {
                    background-image: url("../../assets/icons/chevron-down.svg");
                    margin-top: 5px;
                }

                
            }
        }
    }
    .blog-content{
        margin: 25px;
        padding: 25px 0;
        width: 50%;
    }
    .blog-conteudo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        
    }
    .btn-home-portfolio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px 0;

        font-size: 16px;
        border-radius: 7px;
        color: var(--black-10);
        background: var(--primary);

        &:hover {
            background: var(--primary-10);
            color: var(--white);
        }
    }
    .artigo{
        margin-top: 25px;
        padding: 25px ;
        border: 25px;
        border-color: red;
        background: var(--black-10);
    }
    
    
      
