:root {
    --primary: #7d9c33;
    --primary-10: #46581b;

    --secondary: #06628a;
    --secondary-10: #06374a;

    --white: #fff;

    --black: #10101a;
    --black-10: #2a2a30;
    

    --grey: #9b9ba0;

    

    
}