:root {
    --primary: #2fbf71;
    --primary-10: #21804d;

    --secondary: #06628a;
    --secondary-10: #06374a;

    --white: #fff;

    --black: #10101a;
    --black-10: #2a2a30;
    

    --grey: #9b9ba0;

    --background-image: radial-gradient(at center bottom, rgb(120, 53, 15), rgb(252, 211, 77));
}