<!-- <h2>Projetos Desenvolvidos</h2>

        <ul>
            @for (item of arrayProjects(); track item) {
                <li>
                    <button (click)="openDialog(item)" >
                        <img 
                            [src]="item.src"
                            [alt]="item.alt"
                            [attr.width]="item.with"
                            [attr.height]="item.height"
                            loading="lazy"
                        />
                    </button>
                </li>
            }
            
        </ul> -->
<div class="container-cards">
    <h2>Projetos Desenvolvidos</h2>
    <div class=" container ">
        <li>
            <div class="list-cards row">
                @for (item of arrayProjects(); track item) {
                <div class="card col-6 col-sm-4" style="width: 18rem;">
                    <button class="btn" (click)="openDialog(item)">
                        <img class="card-img-top" [src]="item.src" [alt]="item.alt" [attr.width]="item.with"
                            [attr.height]="item.height" loading="lazy" />

                        <div class="card-body">
                            <h2 class="card-title">{{ item.title }}</h2>
                        </div>
                    </button>
                </div>
                }
            </div>
        </li>
    </div>
</div>